[submodule "vendor/yasnippets-rails"]
	path = vendor/yasnippets-rails
	url = git@github.com:krick/yasnippets-rails.git
[submodule "vendor/smex"]
	path = vendor/smex
	url = git://github.com/nonsequitur/smex.git
