[submodule "vendor/yasnippets-rspec"]
	path = vendor/yasnippets-rspec
	url = git@github.com:krick/yasnippets-rspec.git
[submodule "vendor/rspec-mode.el"]
	path = vendor/rspec-mode.el
	url = git://github.com/pat-maddox/rspec-mode.el.git
[submodule "vendor/org-mode"]
	path = vendor/org-mode
	url = git://repo.or.cz/org-mode.git
